<h2>preview</h2>
<div class="container">
  <div id="editor">
    <div><canvas width="512" height="512" id="canvas"></canvas></div>
    <p id="original-url" class="hidden"><%= imageSrc %></p>
    <div class="duck-faces"></div>
    <!-- <div class="controls">
        <div class="left-right">
          <button id="nudge-left" class="btn btn-default"><i-glyphicon class="glyphicon glyphicon-arrow-left" /></button>
          <button id="nudge-right" class="btn btn-default"><i-glyphicon class="glyphicon glyphicon-arrow-right" /></button>
        </div>

        <div class="up-down">
          <button id="nudge-up" class="btn btn-default"><i-glyphicon class="glyphicon glyphicon-arrow-up" /></button>
          <button id="nudge-down" class="btn btn-default"><i-glyphicon class="glyphicon glyphicon-arrow-down" /></button>
        </div>

        <div class="ccw-cw">
          <button id="nudge-ccw" class="btn btn-default">⟲</button>
          <button id="nudge-cw" class="btn btn-default">⟳</button>
        </div>
      <div class="scaling"></div>
    </div> -->
    <button id="save">save</button>
  </div>

</div>

<script>
  $(document).ready(function() { onPreviewLoad("<%- imageSrc %>", <%- detects %>); });

</script>
