<h2>preview</h2>
<div class="container">
  <div id="editor">
    <div><canvas width="512" height="512" id="canvas"></canvas></div>
    <div class="duck-faces"></div>
    <form id="save-form" method="POST" action="/duckify/preview" enctype="multipart/form-data">
      <!-- <input id="save-form-image" type="text" name="image" class="hidden" value=""> -->
      <!-- <input id="duckified" type="file" name="duckified" class="hidden"> -->
      <button id="save-button" type="submit" class="btn btn-default">
        save to gallery
        <i-glyphicon class="glyphicon glyphicon-floppy-disk" />
      </button>
      <label for="public">
        <input id="save-form-public" type="checkbox" name="public">
        feature on public main site?
      </label>
    </form>
  </div>
  <a class="btn btn-default" href="/duckify">go back <i-glyphicon class="glyphicon glyphicon-arrow-left" /></a>
</div>

<script>
  $(document).ready(function() { onPreviewLoad("<%- imageSrc %>", <%- detects %>); });
</script>
