<h2>upload</h2>
<div>
  <form method="POST" action="/duckify">
    <div class="form-group">
      <label for="imageUrl"></label>
      <input name="imageUrl" type="url" class="form-control" id="" placeholder="">
      <p class="help-block">enter the URL of an image with faces that you want to duckify</p>
    </div>
    <button type="submit">upload</button>
  </form>
</div>
