<!-- <h2>Show Picture</h2>
<div class="banner-block">
  <a class="btn btn-default banner-block-button" href="/duckify">go duckify stuff</a>
</div> -->

<div class="theater">
  <div class="theater-image">
    <img src="<%= duckified.src %>" />
  </div>
</div>

<script>
  $(document).ready(function() { onShowLoad(); });
</script>
