<div class="gallery">
  <div class="columns">
    <% duckfaces.forEach(function(duckface){ %>
      <div class="gallery-thumbnail">
        <img src="<%- duckface %>">
      </div>
    <% }); %>
  </div>
</div>
