canvas {
  border: solid 1px #bbbbbb;
}

.gallery {
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

.columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 10px;
	column-fill: auto;
}

.gallery-thumbnail {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 10px;
	/*padding-bottom: 5px;*/
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.gallery-thumbnail img {
	width: 100%;
	/*border-bottom: 1px solid #ccc;*/
	/*padding-bottom: 15px;*/
	/*margin-bottom: 5px;*/
}

.auth-form {
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  border: solid 1px #cccccc;
}

.upload-box {
  height: 175px;
  display: flex;
  text-align: left;
  flex-flow: column;
  justify-content: flex-end;
}

#or {
  margin: 0;
  text-align: center;
  justify-content: center;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}
