canvas {
  border: solid 1px #bbbbbb;
}

.upload-box {
  height: 175px;
  display: flex;
  text-align: left;
  flex-flow: column;
  justify-content: flex-end;
}

#or {
  margin: 0;
  text-align: center;
  justify-content: center;
}
